.welcome {
    background-color: rgb(45,56,94,.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 66.6%;
}

.auth-form {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 33.4%;

}

.welcome-header {
    color: white;
    margin-top: 250px;
}

.welcome-info {
    color: white;
}